# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
build/
build/*
debug/
debug/*
.cache/
.cache/*

# CMAKE files
CMakeLists.txt

# debug files
.nvim*
log*
Eigen
Job-1
Job-2
Nanoind
ABQcaeG.00.28060.exception
ABQcaeK.00.8020.exception
Job-1.inp
Job-2.com
Job-2.dat
Job-2.inp
Job-2.log
Job-2.msg
Job-2.odb
Job-2.prt
Job-2.sta
Nanoind.com
Nanoind.dat
Nanoind.inp
Nanoind.log
Nanoind.msg
Nanoind.odb
Nanoind.prt
Nanoind.sta
Nanoind_bk.sta
abaqus.rpy
abaqus.rpy.3
abaqus.rpy.4
abaqus.rpy.5
abaqus.rpy.6
abaqus1.rec
abaqus_acis.log
nanoind.cae
nanoind.jnl
